body {
    margin : 0 auto;
    background-color: #ccc;
}

#Page{
   background-color: white;
   text-align: center;
   margin: auto;
   margin-top: 20px;
   width: 800px;
   height: 500px;
   border: 1px solid #ccc;
   border-radius: 50px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header_left{
    display: inline-block;
    float: left;
    width: 150px;
    height: 35px;
    padding-top: 18px;
    padding-bottom: 2px;
    padding-right: 75px;
}

.header_mid{
    display: inline-block;
    float: left;
    width: 350px;
    height: 35px;
    padding-top: 18px;
    padding-bottom: 2px;
}

.header_right{
    display: inline-block;
    float: right;
    width: 150px;
    height: 35px;
    padding-top: 16px;
    padding-bottom: 4px;
    padding-left: 75px;
}

.top_hr{
    border-color: #ccc;
    border-style: solid;
    border-top: 1px;
    width: 796px;
}

.button{
    height: 25px;
    width: 70px;
    color: white;
    background-color: #ffb347;
    border: none;
    border-radius: 20px;
}

.button:hover{
    background-color: #ff9b0c;
}

.button:active{
    background-color: #e48600;
}

#btnBack{
    background-color: #ccc;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 60px;
}

#btnBack:hover, #btnBack:focus{
    background-color: #b7b7b7;
}

#btnBack:active{
    background-color: #a3a3a3;
}

.mydatagrid {
    width: 100%;
    border: none;
    margin: auto;
}

.grid-header {
    background-color: #646464;
    color: White;
    border: none 0px transparent;
    height: 25px;
    text-align: center;
    font-size: 16px;
}

.rows {
    background-color: #fff;
    font-size: 14px;
    color: black;
    min-height: 25px;
    text-align: left;
    border: none 0px transparent;
}

.rows:hover {
    background-color: #ffb347;
    color: black;
    text-align: left;
}

.selectedrow {
    background-color: #ffb347;
    color: black;
    font-weight: bold;
    text-align: left;
}

.mydatagrid a  {
    background-color: Transparent;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-weight: bold;
}

    .mydatagrid a:hover  {
        background-color: #000;
    }

.mydatagrid span  {
    background-color: #c9c9c9;
    color: black;
    padding: 5px 5px 5px 5px;
}

.pager {
    background-color: #646464;
    color: White;
    height: 30px;
    text-align: left;
}

.mydatagrid td {
    padding: 5px;
}

.mydatagrid th {
    padding: 5px;
}
    
